Port {{ ssh_port }}
ListenAddress 0.0.0.0

AuthenticationMethods publickey

Protocol 2

LogLevel INFO

LoginGraceTime 30
PermitRootLogin yes
MaxAuthTries 3

PubkeyAuthentication yes

AuthorizedKeysFile	.ssh/authorized_keys

PasswordAuthentication no
PermitEmptyPasswords no

X11Forwarding no